@charset "utf-8";

@font-face {
    font-family: 'Raleway', sans-serif;
}

html {
    background-color: rgb(52, 77, 85);
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
header nav {
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;
}
nav {
    display: table;
    width: 100%;
}

nav ul {
    display: table-row;
}

nav ul li {
    list-style-type: none;
    display: table-cell;
}

body {
    background-color: whitesmoke;
}
h1 {
    text-align: center;
}